*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}


.sec-main{
    
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    width: 100vw;
    height: 97vh;
    
    
}

.div1-main{
    display: flex;
    justify-content: flex-start;
    width: 100%;
    height: 20%;
}

.div1-point{

background-color: #363D3f;
color: white;
display: flex;
font-size: 1px;
justify-content: center;
align-items: center;
width: 10%;

}

.div1-shex{
    
    
    display: flex;
    align-items: center;
    padding-left: 20px;
    width: 80%;
    font-size: 50px;
    font-weight: 900;

}

.div2-main{
    display: flex;
    width: 100%;
    height: 80%;
    
}

.div2-empty{
    display: flex;
    justify-content: space-around;
    
    width: 10%;
    height: 80%;
}

.div2-text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30%;
    height: 100%;
    
    font-size: 1px;
    font-weight: 900;
    
}

.div2-text1{ 
    margin-top: 50px;
}

.div2-text2{ 
    
    margin-top: 50px;
}
.div2-text3{ 
    margin-bottom: 50px;
}

.div2-img{
    width: 60%;
    
    overflow: hidden;
}

.div2-img img{
    width: 100%;
    height: 100%;
    
}

.div3-page{
    position: absolute;
    top: 92.3%;
    left: 39%;
    background-color: white;
    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 110px;
    height: 50px;
}

.div4-letour{
    display: flex;
    position: relative;
    top: -500px;
    left: 300px;
    color: #363D3f;
    font-size: 150px;
    width: bolder;

}